<html>
  
 <header> customer form</header>
 
 <form action='/checkout' method="POST">
   
   <label>Item:</label> <input type="text" name="item">
   
   <input type="submit" id= "submit" name="submit">
   
   
   
   
 </form>
  
  
  
  
  
</html>
